.installments-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 480px;
  padding: 10px 0 75px 0;
  user-select: none;
}

.installments-page-header-section {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  color: #000b5c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  line-height: -1rem;
  padding-top: 10px;
  font-weight: 900;
}

.installments-page-header-section h1 {
  font-weight: 900;
  margin-top: -10px;
}

.installments-page-Summary-header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
  margin: 20px 0;
}

.installments-page-Summary-header-section-description {
  margin-top: 15px;
  /* background: lavender; */
  width: 100%;
  text-align: center;
}

.installments-page-info-section {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.installments-page-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: grey;
  margin: 10px 0;
}

.installments-page-amount-section {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.installments-page-amount-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: grey;
  margin: 10px 0;
}

.installments-page-amount-item-black {
  /* color: #1c1c1c; */
  color: #000b5c;
  font-size: x-large;
  font-weight: 900;
}

.installments-page-installments-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  /* padding-top: 20px ; */
  /* background: lavender; */
  border: 2px solid #000b5c;
  margin-bottom: 15px;
  box-shadow: 0px 4px 10px lightgray;
}

.installments-page-installments-section-header {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px solid lightgray;
  background: #000b5c;
  /* background: #336699; */
  color: white;
}

.installments-page-installments-section-item {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px 25px;
  margin: 0px 0;
  justify-content: space-between;
  font-size: 18px;
  color: grey;
  font-size: 16px;
  /* font-weight: bold; */
}

.installments-page-installments-section-item-today {
  /* color: #1c1c1c; */
  font-weight: 900;
  font-size: larger;
  color: #000b5c;
}

.installments-page-button {
  padding: 5px 25px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #000b5c;
  color: white;
  font-weight: bold;
  transition-duration: 0.4s;
  user-select: none;
  margin: 20px 0 0 0;
  border-radius: 10px;
  border: 1px solid #000b5c;
  box-shadow: 0px 4px 4px lightgray;
  width: 100%;
  text-align: center;
}

.installments-page-button:hover {
  color: #000b5c;
  background: white;
}

.installments-page-button:disabled {
  color: #000b5c;
  background: white;
}

@media only screen and (max-width: 600px) {
  .installments-page {
    width: 100%;
  }
}
